「#{Settings::Static.app_title}」

#{ @contact.name }様からのお問い合わせがありました。

%p
  \=============================================================<br>
  お問い合わせ<br>
  \=============================================================<br>
  メールアドレス：#{@contact.email}<br>
  区分：#{@contact.category.text}<br>
  日付：#{l( @contact.created_at , format: :normal )}<br>
  内容：#{@contact.content}

= render( partial: 'mailer/shared/footer/for_users')
