「#{Settings::Static.app_title}」でエラーが発生しました。

%p<
  \------------------------------------------------------------------------<br>
%p<
  = @error_inspection
%p<
  \------------------------------------------------------------------------<br>

- @error_data_formatted.each do | k, v |
  %p<
    = k.to_s + ": " + v.to_s

%p<
  \------------------------------------------------------------------------<br>
%p<
  = "backtrace: "
- @error_backtrace.each do | row |
  %p<
    = row
